:root
{
    font-family: Geist, "Geist Fallback", sans-serif;
    font-size: 8px;

    --dark1: #050505;
    --dark2: #0B0B0B;
    --dark3: #121212;
    --dark4: #1E1E1E;
    --light1: #FEFEFE;
    --accent1: #3595a7;
    --accent2: #0a1e29;

    overflow-x: clip;

    background-color: var(--dark2);
}

body { margin: 0; }

h2
{
    font-size: 6rem;
    font-weight: 600;
}

p, a, s, h6, h5, h4, h3, h2, h1
{
    color: var(--light1);
}

p, a
{
    margin: 0;
    font-size: 2rem;
}

a
{
    transition: color 0.2s cubic-bezier(0.1, 0.9, 1, 1);
}

a:hover
{
    color: var(--accent1);
}

#centered-page
{
    inset: 0;
    width: 100vw;
    height: 85vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar
{
    position: sticky;
    left: 0;
    top: 0;
    width: 100vw;
    height: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;

    z-index: 50;
    border-bottom: 2px solid var(--dark1);

    padding: 1rem 1rem;
    padding-left: 4rem;
    background-color: var(--dark2);

    margin-bottom: 2rem;
}

#root
{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pill
{
    width: fit-content;
    height: fit-content;
    background-color: var(--dark3);
    border-radius: 10rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 2px solid var(--dark1);
}

.panel
{
    background-color: var(--dark4);
    border-radius: 5rem;
    padding: 3rem;
    border: 2px solid var(--accent2);

    transition: border-color 0.2s cubic-bezier(0.1, 0.9, 1, 1);
}

.panel:hover
{
    border-color: var(--accent1);
}