:root
{
    font-family: Geist, "Geist Fallback", sans-serif;
    font-size: 8px;

    --dark1: #050505;
    --dark2: #0B0B0B;
    --dark3: #121212;
    --dark4: #1E1E1E;
    --light1: #FEFEFE;
    --accent1: #3595a7;
    --accent2: #0a1e29;
    --accent3: #54e5ff;

    background-color: var(--dark2);
}

body
{
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: clip;
}

h1
{
    font-size: 10rem;
    font-weight: 900;
}

h2
{
    font-size: 6rem;
    font-weight: 600;
}

h1, h2 { margin: 0; }

p, a, s, h6, h5, h4, h3, h2, h1
{
    color: var(--light1);
}

p, a
{
    margin: 0;
    font-size: 2rem;
}

a
{
    transition: color 0.2s cubic-bezier(0.1, 0.9, 1, 1);
}

a:hover, a:focus
{
    color: var(--accent1);
}

input, button
{
    display: block;
    width: 60rem;
    max-width: calc(100% - 2rem);

    border-radius: 5rem;
    font-size: 4rem;
    color: white;
    outline: none;

    margin-bottom: 0.5rem;
    transition: border-color 0.2s cubic-bezier(0.1, 0.9, 1, 1), color 0.2s cubic-bezier(0.1, 0.9, 1, 1);
}

input
{
    background-color: var(--dark2);
    border: 2px solid var(--dark3);
    padding-left: 1rem;
}

button
{
    background-color: var(--accent2);
    border: 2px solid var(--accent1);
    padding-left: 1rem;
}

input:focus, button:focus
{
    border-color: var(--accent3);
}

button:focus
{
    color: var(--accent3);
}

.break-line
{
    height: 2px;
    width: 80rem;
    max-width: 100vw;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: var(--dark4);
}

.row-flex
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.clicker-button
{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    width: 22rem;
    height: 22rem;
    background-image: url("./assets/images/button.png");
    background-repeat: no-repeat;
    background-size: contain;

    cursor: pointer;
    user-select: none;
}

#centered-page
{
    width: 100vw;
    min-height: calc(100vh - 10rem);
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar
{
    position: sticky;
    left: 0;
    top: 0;
    width: calc(100vw - 2rem);
    height: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;

    z-index: 50;
    border-bottom: 2px solid var(--dark1);

    padding: 1rem 1rem;
    background-color: var(--dark2);
}

#root
{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pill
{
    width: fit-content;
    height: fit-content;
    background-color: var(--dark3);
    border-radius: 10rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 2px solid var(--dark1);
}

.panel
{
    max-width: calc(100% - 6rem);

    background-color: var(--dark4);
    border-radius: 5rem;
    padding: 3rem;
    border: 2px solid var(--accent2);

    transition: border-color 0.2s cubic-bezier(0.1, 0.9, 1, 1);
}

.panel:hover, .panel:focus-within
{
    border-color: var(--accent1);
}