#box {
    position: absolute;
    top: 30%;
    height: 40%;
    left: 30%;
    width: 40%;

    background: #6A5ACD;

    border-radius: 5%;
}

p {
    font-family: cursive;
    font-size: 25px;
    color: white;

    position: absolute;
    left: 5%;
    top: 30%;

    opacity: 1;
    transition: opacity 0.5s ease-out, top 0.5s ease-out;
}

img {
    border-radius: 100%;
    width: 180px;
    height: 180px;

    position: absolute;
    left: 45%;
    top: 20%;

    opacity: 1;
    transition: opacity 0.5s ease-out, top 0.5s ease-out;
}